//@import '../node_modules/antd/lib/style/themes/default.less';
@import '../node_modules/antd/lib/style/themes/dark.less';
@import '../node_modules/antd/dist/antd.less';

@primary-color: #00acff;

:root {
  --primary-color: @primary-color;
  --text-color: @text-color;
}

input {
  color: @text-color;
}

@body-background: #051c27; // 06242b
@component-background: #051c27;
@layout-body-background: @body-background;
@layout-header-background: @component-background;
@layout-sider-background: @component-background;
@layout-trigger-background: @component-background;
@menu-dark-bg: @layout-header-background;
@popover-background: @component-background;
@popover-customize-border-color: @body-background;

@border-color-base: #093945; // base border outline a component
@border-color-split: #072c36; // split border inside a component

@layout-header-padding: 0;

@page-header-back-color: @text-color-secondary;
@select-item-selected-bg: @skeleton-color;
@info-color: #579ed9;
@warning-color: #d46b07;
@error-color: #f12222;
@highlight-color: #494848;
@icon-color-hover: @primary-color;
@heading-color: fade(@white, 85%);
//@text-color: #ffffff;
//@text-color-secondary: #3b817f;
//@text-color-inverse: #ffffff;
//@heading-color-dark: #f7f7f7;
//@text-color-dark: #fdfdfd;
//@text-color-secondary-dark: #f1f1f1;
@text-selection-bg: #fa8c16;
@border-color-base: #0c5669;
@border-color-split: #073742;
@border-style-base: solid;
@font-feature-settings-base: tnum;
@disabled-color: fade(@white, 30%);
@disabled-color-dark: fade(@white, 30%);
@outline-width: 4px;
@background-color-light: fade(@white, 4%);
@background-color-base: fade(@white, 8%);
@item-active-bg: black;
@item-hover-bg: fade(@white, 5%);
@shadow-color: #080808;
@shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.24), 0 -9px 28px 0 rgba(0, 0, 0, 0.15),0 -12px 48px 16px rgba(0, 0, 0, 0.09);
@shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.24), 0 9px 28px 0 rgba(0, 0, 0, 0.15), 0 12px 48px 16px rgba(0, 0, 0, 0.09);
@shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
@shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.24), 9px 0 28px 0 rgba(0, 0, 0, 0.15), 12px 0 48px 16px rgba(0, 0, 0, 0.09);
@shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.36), 0 6px 16px 0 rgba(0, 0, 0, 0.24), 0 9px 28px 8px rgba(0, 0, 0, 0.15);
//@btn-font-weight: 600;
@btn-primary-color: #000203;
@btn-default-bg: transparent;
@btn-text-shadow: none;
@checkbox-check-color: #1b1212;
@input-placeholder-color: fade(@white, 30%);
@input-bg: transparent;
@input-number-handler-active-bg: @popover-background;
@select-item-selected-font-weight: 600;
@tooltip-bg: #434343;
@popover-bg: @popover-background;
@modal-header-bg: @popover-background;
@menu-popup-bg: @popover-background;
@menu-dark-submenu-bg: @black;
@table-header-bg: @body-background;
@table-header-sort-bg: #262626;
@table-body-sort-bg: #1d1a1a;
@table-row-hover-bg: #072432;
@table-selected-row-bg: #0f0e0e;
@table-expanded-row-bg: #131212;
@table-padding-vertical: 8px;
@badge-text-color: @white;
@card-actions-background: fade(@white, 4%);
//@card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.48), 0 3px 6px 0 rgba(0, 0, 0, 0.36), 0 5px 12px 4px rgba(0, 0, 0, 0.27);
@card-shadow: 0px 0px 0px 1px @primary-color, 6px 6px 0px 0px @primary-color;
@avatar-bg: #082d3e;
@pagination-item-bg-active: transparent;
@slider-rail-background-color: fade(@white, 20%);
@slider-rail-background-color-hover: @slider-rail-background-color;
@slider-track-background-color: @primary-color;
@slider-handle-color: @primary-color;
@skeleton-color: #072a32;
@skeleton-to-color: @component-background;

@alert-success-border-color: @green-3;
@alert-success-bg-color: @component-background; // fade(@green-1, 10%);
@alert-info-border-color: @blue-3;
@alert-info-bg-color: @component-background; // fade(@blue-1, 10%);
@alert-warning-border-color: @gold-3;
@alert-warning-bg-color: @component-background; // fade(@gold-1, 10%);
@alert-error-border-color: @red-3;
@alert-error-bg-color: @component-background; // fade(@red-1, 10%);
